<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="Smart Parking System"
        android:supportsRtl="true"
        android:theme="@style/Theme.SCPS"
        tools:targetApi="31">
        <activity
            android:name=".Admin_customer_details"
            android:exported="false" />
        <activity
            android:name=".Admin_view_user"
            android:exported="false" />
        <activity
            android:name=".Admin_view_users"
            android:exported="false" />
        <activity
            android:name=".Admin_change"
            android:exported="false" />
        <activity
            android:name=".Admin_View_user"
            android:exported="false" />
        <activity
            android:name=".View"
            android:exported="false" />
        <activity
            android:name=".Add_slot"
            android:exported="false" />
        <activity
            android:name=".Add"
            android:exported="false" />
        <activity
            android:name=".Add_area"
            android:exported="false" />
        <activity
            android:name=".Edit_user"
            android:exported="false" />
        <activity
            android:name=".Admin_index"
            android:exported="false" />
        <activity
            android:name=".slot_reservation_page"
            android:exported="false" />
        <activity
            android:name=".date_selection_page"
            android:exported="false" />
        <activity
            android:name=".slotDetails"
            android:exported="false" />
        <activity
            android:name=".forgot_password"
            android:exported="false" />
        <activity
            android:name=".ChangePass"
            android:exported="false" />
        <activity
            android:name=".HistoryPage"
            android:exported="false" />
        <activity
            android:name=".bookingPage"
            android:exported="false" />
        <activity
            android:name=".aboutPage"
            android:exported="false" />
        <activity
            android:name=".mainIndex"
            android:exported="false" />
        <activity
            android:name=".start_page"
            android:exported="false" />
        <activity
            android:name=".registration_page"
            android:exported="false" />
        <activity
            android:name=".login_page"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>